.content-body {
  background: #f5f5f5;
  padding: 10px 160px;
}

.built-with {
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    display: inline-block;
    font-size: 18px;
    font-family: "Open Sans Condensed", sans-serif;
    color: #3a2a87;
}

.professional-logo-link {
    display: inline-block;
    vertical-align: middle;
    padding-left: 22px;
}

.logo {
    height: 34px;
    display: inline-block;
    padding: 0 2px;
}

.linked-in {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
}

@media screen and (max-width: 680px) {
    .content-body {
        background: #f5f5f5;
        padding: 10px;
        text-align: center;
    }
    .professional-logo-link {
        padding: 0;
    }
}