<div class="content-body">
<div class="built-with">This website is built with ♥︎ Angular 7 </div>
<div class="professional-logo-link">
    <div class="logo">
        <a href="https://dev.to/apdharshi" target="_blank">
          <img class="logo" src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Angela Amarapala's DEV Profile">
        </a>
    </div>
    <div class="logo">
    <a href="https://www.linkedin.com/in/angela-amarapala/" target="_blank">
      <img class="linked-in" src="assets/images/linkedin-1.png" alt="Angela Amarapala's Linkedin Profile" height="30" width="30">
    </a>
    </div>
</div>
</div>