<div class="content-body">
  <div class="profile-box">
    <div class="profile-1"><img class="project-img" src={{about.image}}></div>
    <div class="profile-2 ">
      <h2 class="text-suffix">I'm &nbsp;</h2><h1 class="name">BLA{{about.first}} {{about.last}}</h1>
      <h2 class="" style="margin:0">{{about.titl}}bla bla bla</h2>
      <hr>
      <br>
      <span class="">Favorite stack: &nbsp;</span> <h2 class="name">{{about.stack}}</h2>
    </div>
  </div>
  <ul>
    <li>
      <h2 class="name">Name:</h2>
    </li>
  </ul>
</div>