$titlefont: "Open Sans Condensed", sans-serif;

@mixin darkbg {
  background: #2b2532;
  margin: 0 -30px;
}

@mixin name {
  color: #72578c;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

// .name{
//     padding: 5px 10px;
//     background: #fff;
//     border-radius: 10px;
//     position: relative;
//     display:block;
//     color: #af80d3;
// }

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  shape-outside: ellipse();
  float: left;
  margin: 0 15px 10px 0;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  shape-outside: ellipse();
  float: left;
  position: absolute;
  margin: 0 15px 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.content-body {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 30px !important;
  border-radius: 3px;
  margin: 100px;
  position: relative;
  color: #f5f5f5;
}

.profile-box {
  width: 100%;
  // padding: 30px 0;
  // max-height: calc(346px - 60px);
  // height: calc(346px - 60px);
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}

// .layer {
//     background-color: rgba(248, 247, 216, 0.7);
//     position: absolute;
//     top: 0;
//     left: 0;
// }

.profile-1 {
  width: calc(40% - 30px);
  display: inline-block;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 50px 28px;
  background-color: rgba(0, 0, 0, 0.14);
}
.profile-2 {
  padding: 0 30px;
  width: calc(60% - 45px);
  display: inline-block;
  position: absolute;
  // color: #2B2532;
}

.name {
  @include name();
  text-transform: uppercase;
}

.stack {
  @include name();
}

.text-suffix {
  display: inline-block;
}

.hrline {
  border-top: solid 1px #2b2532;
  width: 100%;
  // padding-bottom: 30px;
}

.dark-card {
  @include darkbg;
}

.link-box {
  // display: inline-block;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    padding: 20px 5px;
    // background: rgba(255,255,255,0.2);
    a {
      vertical-align: middle;
      display: flex;
    }
  }
}

.summary {
  padding: 50px 0;
  text-align: center;
}

.skills {
  background: #2b2532;
  color: #d3c9dc;
  padding: 0 30px !important;
  width: calc(50% - 60px);
  display: inline-block;
  vertical-align: top;
}

.skill {
  padding: 0px 30px 5px 0px !important;
  display: block !important;
  text-align: left;
  font-size: 16px;
}

.skill-title {
  text-align: left;
  text-transform: uppercase;
}

.skill-card {
  @include darkbg;
  padding: 50px 30px;
}

.cv {
  text-align: center;
  padding: 50px;
}

.btn-cv {
  // color: #2B2532;
  border: solid #2b2532 1px;
  border-radius: 3px;
  padding: 15px 30px;
  background: #fff;
  font-family: $titlefont;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}

.btn-cv:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  //0 2px 10px rgba(0, 0, 0, 0.3);
}
