<div class="content-body">
  <ul>
    <li>
      <div class="profile-box">
        <div class="profile-1"><img class="" width="100%" src={{about.profileimage}}></div>
        <div class="profile-2 ">
          <h2 class="text-suffix">I'm &nbsp;</h2>
          <h1 class="name">BLA{{about.first}} {{about.last}}</h1>
          <h2 class="" style="margin:0;padding-bottom: 20px">{{about.titl}}bla bla bla</h2>
          <div class="hrline"></div>
          <span class="">Favorite stack: &nbsp;</span> <h2 class="name">{{about.stack}}</h2>
        </div>
      </div>
    </li>
    <li>
      <div class="dark-card">
        <ul class="link-box">
          <li><a routerLink="../codepen" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/codepen.png"></a></li>
          <li><a routerLink="../github" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/github.png"></a></li>
          <li><a routerLink="../linkedin" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/linkedin.png"></a></li>
          <li><a routerLink="../stackoverflow" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/stackoverflow.png"></a></li>
          <li><a routerLink="../twitter" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/twitter.png"></a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="summary">
        <p>{{about.summary1}}</p>
        <p>{{about.summary2}}</p>
        <p>{{about.summary3}}</p>
      </div>
    </li>
    <li>
      <div class="skill-card">
        <ul class="link-box skills">
          <h2 class="skill-title" >Back End</h2>
          <li class="skill"><span>{{about.backend}} &nbsp;</span></li>
          <li class="skill"><strong>Frameworks: </strong>{{about.bframeworks}}</li>
          <h2 class="skill-title" >Front End</h2>
          <li class="skill"><span>{{about.frontend}} &nbsp;</span></li>
          <li class="skill"><strong>Frameworks: </strong>{{about.fframeworks}}</li>
          <h2 class="skill-title" >Database</h2>
          <li class="skill"><span>{{about.dbskills}} &nbsp;</span></li>
        </ul>
        <ul class="link-box skills">
            <h2 class="skill-title" >Version Control</h2>
            <li class="skill"><span>{{about.versioncontrol}} &nbsp;</span></li>
            <!-- <li class="skill"><strong>Frameworks: </strong>{{about.bframeworks}}</li> -->
            <h2 class="skill-title" >Applications</h2>
            <li class="skill"><span>{{about.apps}} &nbsp;</span></li>
            <!-- <li class="skill"><strong>Frameworks: </strong>{{about.fframeworks}}</li> -->
            <h2 class="skill-title" >Other</h2>
            <li class="skill"><span>{{about.other}} &nbsp;</span></li>
          </ul>
      </div>
    </li>
    <li>
      <div class="cv">
        <a href={{about.cvlink}} target="_blank"><button class="btn-cv">Download CV</button></a>
      </div>
    </li>
  </ul>
</div>