* {
    margin: 0;
    padding: 0;
}
body,.content{
    overflow: hidden;
    background: rgb(245,245,245);
}

.home-title{
    font-family: "Open Sans Condensed", sans-serif;
font-weight: 500;
font-size: 5em;
padding: 0px 35px 35px;
}
.slogan-wrapper{
    display: table;
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  margin-bottom: 50px;
}

@mixin slogan {
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 20px 0;
  text-transform: uppercase;
}
.align-slogan{
    @include slogan();
}

.tag-style{
    font-family: 'Architects Daughter', cursive;
// font-family: 'Kalam', cursive;
font-size: 1.5em;
padding: 20px;
}

.slogan-box{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 50px;
}

.dot {
    height: 3px;
    width: 3px;
    opacity: 0;
    //background-color: $dark-color;
    border-radius: 50%;
    bottom: 103px;
    left: 86px;
    position: relative;
    filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}

.dot-extend-one {
    height: 3px;
    width: 3px;
    //background-color: $dark-color;
    border-radius: 50%;
    bottom: 103px;
    left: 86px;
    position: relative;
    filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}
.dot-extend-two {
    height: 3px;
    width: 3px;
    //background-color: $dark-color;
    border-radius: 50%;
    bottom: 103px;
    left: 86px;
    position: relative;
    filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}

.content{
    height: calc(100vh - 50px);
    width: calc(100vw);
    // margin: -100px -120px;
    position: relative;
    z-index: 10;
}

.dot-animation-1 {
    /* dot */
    animation: xAxis 100s infinite linear;
  }
  
  .dot-animation-2 {
    /*   dot */
    animation: yAxis 100s infinite linear;
  }
  @-webkit-keyframes yAxis {
      from { transform: rotate(0deg) translateX(150px)  translateZ(0) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(-150px) translateZ(0) rotate(-60deg); }
  }
  
  @keyframes yAxis {
    from { transform: rotate(0deg) translateX(-150px) translateZ(0) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(-150px) translateZ(0) rotate(-30deg); }
  }
  
  @-webkit-keyframes xAxis {
    from { transform: rotate(0deg) translateX(150px) translateZ(0) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(150px) translateZ(0) rotate(-360deg); }
  }
  
  @keyframes xAxis {
      from { transform: rotate(0deg) translateX(150px) translateZ(0) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(150px) translateZ(0) rotate(-360deg); }
  }
  
  