* {
  margin: 0;
  padding: 0;
}
body,
.content {
  overflow: hidden;
  background: rgb(245, 245, 245);
}

.scene {
  background-color: rgba(0, 0, 0, 0.2);
  height: 75px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.logo {
  padding: 20px;
}

// .slogan-wrapper {
//   display: table;
//   position: absolute;
//   height: calc(100%);
//   width: 100%;
//   margin-bottom: 50px;
// }

// .slogan-box {
//   display: table-cell;
//   vertical-align: middle;
//   margin-bottom: 50px;
// }

.home-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 7em;
  padding: 0px 35px 35px;
  color: #3a2a87;
}
.slogan-wrapper {
  display: flex;
    justify-content: center;
    margin: 200px 0;
}



@mixin slogan {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 20px 0;
  text-transform: uppercase;
}
.align-slogan {
  @include slogan();
}

.tag-style {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5em;
  padding: 20px;
}

.slogan-box {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 50px;
}

.dot {
  height: 3px;
  width: 3px;
  opacity: 0;
  border-radius: 50%;
  bottom: 103px;
  left: 86px;
  position: relative;
  filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}

.dot-extend-one {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  bottom: 103px;
  left: 86px;
  position: relative;
  filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}
.dot-extend-two {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  bottom: 103px;
  left: 86px;
  position: relative;
  filter: drop-shadow(0px 0px 3px rgba(125, 104, 152, 1));
}

.content {
  height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

.dot-animation-1 {
  /* dot */
  animation: xAxis 100s infinite linear;
}

.dot-animation-2 {
  /*   dot */
  animation: yAxis 100s infinite linear;
}
@-webkit-keyframes yAxis {
  from {
    transform: rotate(0deg) translateX(150px) translateZ(0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-150px) translateZ(0) rotate(-60deg);
  }
}

@keyframes yAxis {
  from {
    transform: rotate(0deg) translateX(-150px) translateZ(0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-150px) translateZ(0) rotate(-30deg);
  }
}

@-webkit-keyframes xAxis {
  from {
    transform: rotate(0deg) translateX(150px) translateZ(0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) translateZ(0) rotate(-360deg);
  }
}

@keyframes xAxis {
  from {
    transform: rotate(0deg) translateX(150px) translateZ(0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) translateZ(0) rotate(-360deg);
  }
}

@media screen and (max-width: 680px) {
  .logo {
    padding: 0 20px;
    display: inline-flex;
    height: 100%;
  }
  .content {
    height: 100%;
    width: auto;
    position: relative;
    z-index: 10;
    padding: 20px 0;
}
#content-middle {
  display: flex;
}
.slogan-wrapper {
  display: inline-flex;
  margin: auto;
}
.slogan-box {
  display: table-cell;
  margin: auto;
}
.align-slogan {
  text-align: left;
  width: 700px;
  padding: 20px 0 0 0;
  text-transform: uppercase;
}
.tag-style {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5em;
}
.home-title {
  font-size: 2em;
  padding: 0px 10px 10px !important;
}
}