
#project-content{
    overflow-y:auto;
    // max-height: 80vh;
    box-sizing:border-box;
    padding: 50px;
}

.d{
    display: flex;
    flex-direction: column;
}

.cards{
    padding:50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 10px;
    overflow: hidden;
    position: relative;
}

.image-container{
    width: 350px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.project-img{
    bottom: 0;
    width: inherit;
    position: absolute;
}