$black:#000;
$card-padding: 20px;
$main-color:#866a9c;
$header:#9882AD;


#project-content{
    overflow-y:auto;
    // max-height: 80vh;
    box-sizing:border-box;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
}

.card{
    background: #2B2532 !important;
}

.cards{
    padding:$card-padding !important;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    grid-gap: 30px;
    overflow: hidden;
    position: relative;
}

.image-container{
    width: calc(300px-50px);
    height: 250px;
    position: relative;
    overflow: hidden;
}

.project-img{
    bottom: 0;
    width: 100%;
    position: relative;
}

.project-title{
    color: #D3C9DC;
    font-size: 22px;
}
.description{
    font-size: 16px;
    text-align: justify;
}

.tag{
    border: none;
    color:$black;
    font-size: 14px;
    font-weight: 400;
    background: rgba(0,0,0,.05);
    padding: 1px 5px;
    width: fit-content;
    border-radius: 5px;
}

.tag-list{
    box-shadow: none !important;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right:5px;
}