<nav>
  <ul>
    <li [ngClass]="{'active': homeActive.isActive}">
      <a routerLink="home" routerLinkActive="activated" #homeActive="routerLinkActive"><img class="home li-icon" height="30" width="30" src="./assets/images/home.png"></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': aboutActive.isActive}">
      <a routerLink="about" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}" #aboutActive="routerLinkActive"><div>About</div></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': projectsActive.isActive}">
      <a routerLink="projects" routerLinkActive="activated" #projectsActive="routerLinkActive"><div>Projects</div></a>
    </li>
    <li class="main-menu">
      <a href="https://medium.com/@apdharshi" target="_blank"><div>Blog</div></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': contactActive.isActive}">
      <a routerLink="contact" routerLinkActive="activated" #contactActive="routerLinkActive"><div>Contact</div></a>
    </li>
  </ul>
  <ul class="bottom-nav">
    <li><a href="https://codepen.io/apdharshini/" target="_blank"><img class="li-icon" height="30" width="30" src="./assets/images/codepen.png"></a></li>
    <li><a href="https://github.com/angelapriyadharshini" target="_blank"><img class="li-icon" height="30" width="30" src="./assets/images/github.png"></a></li>
    <li><a href="https://www.linkedin.com/in/angela-amarapala/" target="_blank"><img class="li-icon" height="30" width="30" src="./assets/images/linkedin.png"></a></li>
    <li><a href="https://stackoverflow.com/users/6284797/angela-amarapala" target="_blank"><img class="li-icon" height="30" width="30" src="./assets/images/stackoverflow.png"></a></li>
    <li><a href="https://twitter.com/apdharshi" target="_blank"><img class="li-icon" height="30" width="30" src="./assets/images/twitter.png"></a></li>
  </ul>
</nav>