<nav>
  <ul>
    <li>
      <a routerLink="home" routerLinkActive="activated"><img class="home li-icon" height="30" width="30" src="/src/assets/images/home.png"></a>
    </li>
    <li class="main-menu">
      <a routerLink="about" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}"><div>About</div></a>
    </li>
    <li class="main-menu">
      <a routerLink="projects" routerLinkActive="activated"><div>Projects</div></a>
    </li>
    <li class="main-menu">
      <a routerLink="blog" routerLinkActive="activated"><div>Blog</div></a>
    </li>
    <li class="main-menu">
      <a routerLink="contact" routerLinkActive="activated"><div>Contact</div></a>
    </li>
  </ul>
  <ul class="bottom-nav">
    <li><a routerLink="codepen" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/home.png"></a></li>
    <li><a routerLink="github" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/home.png"></a></li>
    <li><a routerLink="linkedin" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/home.png"></a></li>
    <li><a routerLink="stackoverflow" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/home.png"></a></li>
    <li><a routerLink="twitter" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/home.png"></a></li>
  </ul>
</nav>