<nav>
  <ul>
    <li [ngClass]="{'active': homeActive.isActive}">
      <a routerLink="home" routerLinkActive="activated" #homeActive="routerLinkActive"><img class="home li-icon" height="30" width="30" src="/src/assets/images/home.png"></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': aboutActive.isActive}">
      <a routerLink="about" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}" #aboutActive="routerLinkActive"><div>About</div></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': projectsActive.isActive}">
      <a routerLink="projects" routerLinkActive="activated" #projectsActive="routerLinkActive"><div>Projects</div></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': blogActive.isActive}">
      <a routerLink="blog" routerLinkActive="activated" #blogActive="routerLinkActive"><div>Blog</div></a>
    </li>
    <li class="main-menu" [ngClass]="{'active': contactActive.isActive}">
      <a routerLink="contact" routerLinkActive="activated" #contactActive="routerLinkActive"><div>Contact</div></a>
    </li>
  </ul>
  <ul class="bottom-nav">
    <li><a routerLink="codepen" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/codepen.png"></a></li>
    <li><a routerLink="github" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/github.png"></a></li>
    <li><a routerLink="linkedin" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/linkedin.png"></a></li>
    <li><a routerLink="stackoverflow" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/stackoverflow.png"></a></li>
    <li><a routerLink="twitter" routerLinkActive="activated"><img class="li-icon" height="30" width="30" src="/src/assets/images/twitter.png"></a></li>
  </ul>
</nav>