nav {
    background: #2B2532;
    height: 50px;
    padding: 0 120px;
    position: relative;
    z-index: 20;

    ul {
        padding: 0;
        margin: 0;
        position: relative;
        display: inline-block;
        height: inherit;
        
        li {
            list-style-type: none;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 10px;
            font-size: 20px;
            
            a {
                font-family: 'Open Sans Condensed', sans-serif;
                color: #D3C9DC;
                text-decoration: none;
                text-transform: uppercase;

                div{
                    width: 65px;
                    text-align: center;
                    filter:drop-shadow( 2px 2px 2px rgba(0, 0, 0, .7));
                    transition:all 0.5s ease;
                }
            }
            .activated {
                transition:all 0.5s ease;
            }
        }
    }
}
.bottom-nav{
    position: relative;
    padding: 0 5px !important;
    float: right;

    li{
        padding:10px 5px !important;
    }

    li .li-icon{
        display: inline-block;
        span{
            // padding: 10px;
            display: block;
        }
    }
}   
.li-icon{
    vertical-align: middle !important;
}

.active{
    background: rgba(255, 255, 255, 0.2)
}