@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400|Roboto:300|Architects+Daughter|Kalam");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
body {
  margin: 0;
  background: radial-gradient(#3a2a87, #261f56);
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  height: 100%;
}

.card-title {
  color: #d3c9dc;
  font-size: 22px;
}

.cards {
  padding: 0px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  overflow: hidden;
}

router-outlet ~ * {
  position: absolute;
}
