@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400|Roboto:300');

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
body{
    margin: 0;
    background: #867991;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.44444;
    height: 100%;
}
.card{
    background: #2B2532 !important;
}

.card-title{
    color: #D3C9DC;
    font-size: 22px;
}

.cards{
    padding:20px !important;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    grid-gap: 30px;
    overflow: hidden;
    // position: relative;
}
#container{

    #content {
        padding: 50px 120px !important;
        box-sizing: border-box;
        grid-template-columns: 50px auto;
        // background: #fff;
        ul {
            list-style-type: none;
            margin:0;padding:0;
            li {
                background: #fff;
                border-radius: 3px;
                box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
                padding: 20px;
                margin-bottom: 8px;
        
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                }
        
                ul {
                    margin-top: 20px;
                    
                    li {
                        padding:0;
        
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                        
                    }
                }
            }
        }
    }
}

router-outlet ~ * {
    position: absolute;
  }